<!doctype html>
<html>
  <head>
    <title>Dashboard</title>

    <style type="text/css">
      @import url('/stylesheets/dashboard.css');
    </style>

    <script type="text/javascript" src="/javascripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard.js"></script>
  </head>
  <body>
    <div class="dashboard">
      <header>
        <h1>Mainstream &amp; Publishing Platform &mdash; Pull Requests</h1>
      </header>

      <section class="repositories"></section>
    </div>
  </body>
</html>
